logic-app-parameteriser/test/test-logic-app.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
    "logicAppName": {
        "type": "string",
        "defaultValue": "logic-app-name"
    },
    "location": {
        "type": "string",
        "defaultValue": "location"
    },
    "azureMonitorLogsConnectionId": {
        "type": "string",
        "defaultValue": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Web/connections/azuremonitorlogs"
    },
    "logAnalyticsCollectorConnectionId": {
        "type": "string",
        "defaultValue": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Web/connections/azureloganalyticsdatacollector"
    }
},
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Izoolab_Incident_Ingestion_name')]",
            "location": "location",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 30,
                                "frequency": "Minute"
                            },
                            "evaluatedRecurrence": {
                                "interval": 30,
                                "frequency": "Minute"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "HTTP_Auth": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://client-api.izoolabs.com/api/Token/Authenticate",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "apiKey": "apikey",
                                    "secretKey": "apisecret"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "HTTP_Incident": {
                            "runAfter": {
                                "HTTP_Auth": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://client-api.izoolabs.com/api/ThreatManagement/FetchIncidents",
                                "method": "POST",
                                "headers": {
                                    "Authorization": "Bearer @{body('HTTP_Auth')?['result']?['accessToken']}"
                                },
                                "body": {
                                    "fromDate": "@{div(sub(ticks(addMinutes(utcNow(),-31)),ticks('1970-01-01T00:00:00Z')),10000000)\n}",
                                    "toDate": "@{div(sub(ticks(utcNow()),ticks('1970-01-01T00:00:00Z')),10000000)}"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "logs",
                                        "type": "array"
                                    },
                                    {
                                        "name": "files",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "if_no_Incident": {
                            "actions": {},
                            "runAfter": {
                                "HTTP_Incident": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "For_each_Incident": {
                                        "foreach": "@body('HTTP_Incident')?['result']?['incidents']",
                                        "actions": {
                                            "check_incident_type": {
                                                "actions": {
                                                    "Run_query_and_list_results": {
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['azuremonitorlogs-1']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "body": "izoolab_CL\n| where incidentID_s == \"@{items('For_each_Incident')?['incidentID']}\"",
                                                            "path": "/queryData",
                                                            "queries": {
                                                                "subscriptions": "subscriptions",
                                                                "resourcegroups": "resourcegroups",
                                                                "resourcetype": "Log Analytics Workspace",
                                                                "resourcename": "resourcename",
                                                                "timerange": "24h"
                                                            }
                                                        }
                                                    },
                                                    "Condition_2": {
                                                        "actions": {},
                                                        "runAfter": {
                                                            "Run_query_and_list_results": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "else": {
                                                            "actions": {
                                                                "left_data": {
                                                                    "type": "Compose",
                                                                    "inputs": "@items('For_each_Incident')"
                                                                },
                                                                "HTTP_case_details": {
                                                                    "runAfter": {
                                                                        "left_data": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Http",
                                                                    "inputs": {
                                                                        "uri": "https://client-api.izoolabs.com/api/ThreatManagement/CaseDetail?caseId=@{items('For_each_Incident')?['incidentID']}",
                                                                        "method": "GET",
                                                                        "headers": {
                                                                            "Authorization": "Bearer @{body('HTTP_Auth')?['result']?['accessToken']}"
                                                                        }
                                                                    },
                                                                    "runtimeConfiguration": {
                                                                        "contentTransfer": {
                                                                            "transferMode": "Chunked"
                                                                        }
                                                                    }
                                                                },
                                                                "right_data": {
                                                                    "runAfter": {
                                                                        "HTTP_case_details": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Compose",
                                                                    "inputs": "@body('HTTP_case_details')?['result']"
                                                                },
                                                                "Output": {
                                                                    "runAfter": {
                                                                        "right_data": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Compose",
                                                                    "inputs": "@union(outputs('left_data'), outputs('right_data'))\n"
                                                                },
                                                                "top": {
                                                                    "runAfter": {
                                                                        "Output": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Compose",
                                                                    "inputs": {
                                                                        "incidentID": "@{outputs('output')?['incidentID']}",
                                                                        "brandCode": "@{outputs('output')?['brandCode']}",
                                                                        "brand": "@{outputs('output')?['brand']}",
                                                                        "brandId": "@{outputs('output')?['brandId']}",
                                                                        "url": "@{outputs('output')?['url']}",
                                                                        "incidentType": "@{outputs('output')?['incidentType']}",
                                                                        "subIncidentType": "@{outputs('output')?['subIncidentType']}",
                                                                        "threatType": "@{outputs('output')?['threatType']}",
                                                                        "status": "@{outputs('output')?['status']}",
                                                                        "statusCode": "@{outputs('output')?['statusCode']}",
                                                                        "clientRef": "@{outputs('output')?['clientRef']}",
                                                                        "createdOn": "@{if(empty(outputs('output')?['createdOn']), null, formatDateTime(addSeconds('1970-01-01T00:00:00Z', int(outputs('output')?['createdOn'])), 'yyyy-MM-ddTHH:mm:ssZ'))}",
                                                                        "closedOn": "@{if(empty(outputs('output')?['closedOn']), null, formatDateTime(addSeconds('1970-01-01T00:00:00Z', int(outputs('output')?['closedOn'])), 'yyyy-MM-ddTHH:mm:ssZ'))}",
                                                                        "detectionDate": "@{if(empty(outputs('output')?['detectionDate']), null, formatDateTime(addSeconds('1970-01-01T00:00:00Z', int(outputs('output')?['detectionDate'])), 'yyyy-MM-ddTHH:mm:ssZ'))}",
                                                                        "addedDate": "@{if(empty(outputs('output')?['addedDate']), null, formatDateTime(addSeconds('1970-01-01T00:00:00Z', int(outputs('output')?['addedDate'])), 'yyyy-MM-ddTHH:mm:ssZ'))}",
                                                                        "uptime": "@{outputs('output')?['uptime']}",
                                                                        "detectedBy": "@{outputs('output')?['detectedBy']}",
                                                                        "executiveName": "@{outputs('output')?['executiveName']}",
                                                                        "caseType": "@{outputs('output')?['caseType']}",
                                                                        "caseDescription": "@{outputs('output')?['caseDescription']}",
                                                                        "statusDescription": "@{outputs('output')?['statusDescription']}",
                                                                        "description": "@{outputs('output')?['description']}",
                                                                        "impact": "@{outputs('output')?['impact']}",
                                                                        "recommendation": "@{outputs('output')?['recommendation']}",
                                                                        "ipAddress": "@{outputs('output')?['ipAddress']}",
                                                                        "webhost": "@{outputs('output')?['webhost']}",
                                                                        "webhostCountry": "@{outputs('output')?['webhostCountry']}",
                                                                        "registrarName": "@{outputs('output')?['registrarName']}",
                                                                        "nameServer": "@{outputs('output')?['nameServer']}",
                                                                        "mxRecord": "@{outputs('output')?['mxRecord']}",
                                                                        "progressStage": "@{outputs('output')?['progressStage']}",
                                                                        "mobileAppName": "@{outputs('output')?['mobileAppName']}",
                                                                        "mobileAppVersion": "@{outputs('output')?['mobileAppVersion']}",
                                                                        "mobileAppStatus": "@{outputs('output')?['mobileAppStatus']}",
                                                                        "mobileAppSignature": "@{outputs('output')?['mobileAppSignature']}"
                                                                    }
                                                                },
                                                                "final_output": {
                                                                    "runAfter": {
                                                                        "Condition_1": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Compose",
                                                                    "inputs": "@setProperty(\n    setProperty(\n        outputs('top'),\n        'incidentStatusLogs',\n        variables('logs')\n    ),\n    'caseFiles',\n    variables('files')\n)\n"
                                                                },
                                                                "Send_Data": {
                                                                    "runAfter": {
                                                                        "final_output": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "post",
                                                                        "body": "@{outputs('final_output')}",
                                                                        "headers": {
                                                                            "Log-Type": "izoolab_CL"
                                                                        },
                                                                        "path": "/api/logs"
                                                                    }
                                                                },
                                                                "Condition": {
                                                                    "actions": {},
                                                                    "runAfter": {
                                                                        "top": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "else": {
                                                                        "actions": {
                                                                            "For_each": {
                                                                                "foreach": "@outputs('Output')?['incidentStatusLogs']",
                                                                                "actions": {
                                                                                    "logs_append": {
                                                                                        "type": "AppendToArrayVariable",
                                                                                        "inputs": {
                                                                                            "name": "logs",
                                                                                            "value": {
                                                                                                "incidentStatus": "@items('For_each')?['incidentStatus']",
                                                                                                "incidentStatusDescription": "@{string(items('For_each')?['incidentStatusDescription'])}",
                                                                                                "remark": "@{string(items('For_each')?['remark'])}",
                                                                                                "updatedOn": "@{formatDateTime(convertTimeZone(addSeconds('1970-01-01T00:00:00Z', int(items('For_each')?['updatedOn'])), 'UTC', 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}",
                                                                                                "updatedBy": "@{string(items('For_each')?['updatedBy'])}"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": "Foreach"
                                                                            }
                                                                        }
                                                                    },
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@outputs('Output')?['incidentStatusLogs']",
                                                                                    "@null"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                },
                                                                "Condition_1": {
                                                                    "actions": {},
                                                                    "runAfter": {
                                                                        "Condition": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "else": {
                                                                        "actions": {
                                                                            "For_each-copy": {
                                                                                "foreach": "@outputs('Output')?['caseFiles']",
                                                                                "actions": {
                                                                                    "Append_files": {
                                                                                        "type": "AppendToArrayVariable",
                                                                                        "inputs": {
                                                                                            "name": "files",
                                                                                            "value": {
                                                                                                "dateUploaded": "@{formatDateTime(addSeconds('1970-01-01T00:00:00Z', int(items('For_each-copy')?['dateUploaded'])), 'yyyy-MM-dd HH:mm:ss')}",
                                                                                                "originalFilename": "@{string(items('For_each-copy')?['originalFilename'])}",
                                                                                                "fileToken": "@{string(items('For_each-copy')?['fileToken'])}",
                                                                                                "isCaseScreenshot": "@{string(items('For_each-copy')?['isCaseScreenshot'])}"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": "Foreach"
                                                                            }
                                                                        }
                                                                    },
                                                                    "expression": {
                                                                        "and": [
                                                                            {
                                                                                "equals": [
                                                                                    "@outputs('Output')?['caseFiles']",
                                                                                    "@null"
                                                                                ]
                                                                            }
                                                                        ]
                                                                    },
                                                                    "type": "If"
                                                                }
                                                            }
                                                        },
                                                        "expression": {
                                                            "and": [
                                                                {
                                                                    "greater": [
                                                                        "@length(body('Run_query_and_list_results')?['value'])",
                                                                        0
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "type": "If"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "expression": {
                                                    "or": [
                                                        {
                                                            "equals": [
                                                                "@items('For_each_Incident')?['threatType']",
                                                                "Critical Threat"
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@items('For_each_Incident')?['threatType']",
                                                                "High Threat"
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@items('For_each_Incident')?['threatType']",
                                                                "Substantial Threat"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('HTTP_Incident')?['result']",
                                            "@null"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "",
                                            ""
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs-1": {
                                "id": "/subscriptions/subscriptionid/providers/Microsoft.Web/locations/location/managedApis/azuremonitorlogs",
                                "connectionId": "[parameters('connections_azuremonitorlogs_4_externalid')]",
                                "connectionName": "azuremonitorlogs-4",
                                "connectionProperties": {}
                            },
                            "azureloganalyticsdatacollector": {
                                "id": "/subscriptions/subscriptionid/providers/Microsoft.Web/locations/location/managedApis/azureloganalyticsdatacollector",
                                "connectionId": "[parameters('connections_azureloganalyticsdatacollector_externalid')]",
                                "connectionName": "azureloganalyticsdatacollector",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}
